<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <style>
        table, th, td {
            padding: 5px;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>
    
<body>
    <% const timeFormat = (time) => { 
        let dt = new Date(+time);
        return `${dt.getDate()}/${(dt.getMonth()+1)}/${dt.getFullYear()}`;
    } %>
    <%- include('../partials/topnav') %>
    <br>
    <a href="/Admin/Register">Create a new account</a>
    <div>
        <table style="width: 100%;">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Faculty</th>
                <th>Created</th>
                <th>Manage</th>
            </tr>
            <% for (let account of data.Account) { %>
            <tr>
                <td><%- account.AccID %></td>
                <td><%- account.Username %></td>
                <td><%- account.Name %></td>
                <td><%- account.Email %></td>
                <td><%- account.RoleName %></td>
                <td><%- account.FacultyName || "N/A"%></td>
                <td><%- timeFormat(account.CreatedAt) %></td>
                <td>
                    <a href="/Admin/EditAccount?id=<%- account.AccID %>">Edit</a>
                    <button onclick="Delete(this, '<%- account.AccID %>')">Delete</button>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
<script>
    function Delete(btn, accID) {
        let data = { type: "Account", accID: accID };
        btn.disabled = true;
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                btn.disabled = false;
                location.reload();
            }
        }
        xhttp.open("POST", "/POST/Delete", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(data));
    }
</script>
</html>