<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
    
<body>
    <%- include('../partials/topnav') %>
    <br>
    <div>
        <form action="/POST/EditMCComment" method="POST">
            <input type="hidden" name="comID" value="<%- data.Comment.CommentID %>">
            <label for="comment">Comment:</label><br>
            <textarea name="comment" value="<%- data.Comment.Content %>"><%- data.Comment.Content %></textarea><br>
            <label for="evaluate">Evaluate:</label><br>
            <select name="evaluate" required>
                <option value="Approved">Approved</option>
                <option value="Unapproved">Unapproved</option>
            </select><br><br>
            <input type="submit" value="Finish">
        </form>
    </div>
</body>

</html>